{% extends 'base.html' %}

{% load static %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block header %}
<a href="{% url 'list' %}" class="mr-5 hover:text-gray-900">投稿一覧</a>
<a href="{% url 'logout' %}" class="hover:text-gray-900">ログアウト</a>
{% endblock header %}


{% block content %}
<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-12 md:py-16 mx-auto">
      <div class="flex flex-col text-center w-full mb-2">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">投稿する</h1>
        <p class="text-gray-900 text-center py-2">今日の気分をアウトプットしてみよう！</p>
      </div>
      <div class="w-full lg:w-1/2 md:w-2/3 mx-auto">
        <div class="">         
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="p-2 w-full">
                  <div class="relative">
                    <label for="title" class="leading-7 text-sm text-gray-600">タイトル</label>
                    <input type="text" id="title" name="title" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                  </div>
                </div>
                <div class="p-2 w-full mb-2">
                  <div class="relative">
                    <label for="author" class="leading-7 text-sm text-gray-600">投稿者(編集不可)</label>
                    <input type="" disabled value="{{ user.username }}" id="author" name="author" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                  </div>
                </div>
                <div class="p-2 w-full mb-2">
                  <div class="relative">
                    <label for="sns_image" class="leading-7 text-sm text-gray-600">画像</label><br>
                    <input type="file" id="sns_image" name="sns_image" class="py-2">
                  </div>
                </div>
                <div class="p-2 w-full mb-2">
                  <div class="relative">
                    <label for="content" class="leading-7 text-sm text-gray-600">本文</label>
                    <textarea type="text" style="height: 140px;" id="content" name="content" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"></textarea>
                  </div>
                </div>
                <!-- 送信ボタン -->
                <div class="p-2 w-full">
                  <button type="submit" class="flex mx-auto text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">投稿</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}